page-termsandconditions{
    .scroll-content {
        background: url("../assets/imgs/bg.png") !important;

      }
      .register-logo-container{
        text-align: center;
        padding: 15px 80px 10px 80px;
      }
}